$main: #E5E5E5;
$second: #FFFEFB;

$text: #3F3F3F;
$secondText: #49485E;
$secondTextLight: #B4B4B4;

$btnActive: #7BAE73;
$bntDisable: #EEEEEE;

$warning:#FF8484;

$shadow: rgba(0, 0, 0, 0.1);
$secondShadow: rgba(0, 0, 0, 0.1);
